@import url(normalize.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Raleway:wght@500;600;800&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
    --body-ff:'pretendard', sans-serif;
    --title-ff:'Montserrat', sans-serif;
    --body-fz:18px;
    --title-fz:48px;
    --line-height:27px;
    --primary-c :#3b3530;
    --secondary-c :#7f7267;
    --secondary-bg:#f3efeb;
    --white : #fff;
    --con-width : 1320px;   
}
.material-symbols-outlined{
    font-weight: 400;
}

body{
    font-size: var(--body-fz) ;
    line-height: var(--line-height);
    color:var(--primary-c);
}
.main_tt{
    font-family: var(--title-ff);
    font-size: var(--title-fz);
    color: var(--primary-c);
    line-height: calc(var(--line-height)*2);
    text-transform: uppercase;
}
.vh{
    height:100vh;
}
.container{
    width: var(--con-width);
    margin:0 auto;
}

*{
    box-sizing: border-box;
}
img{
    vertical-align: top;
}

/* ====================== menu ====================== */
.menu{
    display: flex;
    height: calc(var(--line-height)*4);
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
    gap:30px;
}
.menu .material-symbols-outlined{
    font-weight: 600;
}
.menu li a,.menu .material-symbols-outlined{
    color:#fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}
.material-symbols-outlined{
    display: inline-block;
    vertical-align: top;
}

header{
    position:fixed;
    z-index: 1;
    left: 0;
    right: 0;  
    align-items: center;
    padding: 0 50px;
    transition:.5s;
    
}
.menu .logo a{
    width:165px;
    height: 45px;
    background:url(../images/MainLogo.png) no-repeat;
    display: inline-block;
    text-indent: -9999em;
    margin: auto 0;
    filter: drop-shadow(1px 1px 2px);
}
header.dark{
    position: fixed;
    background: var(--white);
    /* box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1); */
    z-index:100;
    
}
header.dark .menu ul li a,
header.dark .menu .material-symbols-outlined{
    color:var(--primary-c);
    text-shadow: none;
}

.dark .logo a {
    background-image:url('../images/logo_dark.png');
    filter: none;
}

.hamburger_btn{
    display: inline-block;
    position:relative;
    transition:.3s ease-in-out;
    width: 25px;
    height: 18px;
}
.hamburger_btn span{
    position:absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    top: 0;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}
.hamburger_btn span:nth-child(1) {
    top: 0px;
}

.hamburger_btn span:nth-child(2),
.hamburger_btn span:nth-child(3) {
    top: 8px;
}

.hamburger_btn span:nth-child(4) {
    top: 16px;
}
.hamburger_btn.active span:nth-child(1),
.hamburger_btn.active span:nth-child(4){
    opacity: 0;
}
.hamburger_btn.active span:nth-child(2){
    transform: rotate(45deg);
    background-color: var(--primary-c);
}
.hamburger_btn.active span:nth-child(3){
    transform: rotate(-45deg);
    background-color: var(--primary-c);
}

/* --------all menu-------- */

.allMenu{
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--primary-c);
    height: 100vh;
    color:#fff;
    box-shadow: inset 0px 0px 35px -5px rgba(0,0,0,0.35);
    transform: translateY(-100%);
    transition:.5s;
    z-index: -1;
}
.allMenu.open{
    transform: none;
    transition:.5s;
    top:108px;
}
.allMenu>ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:250px;
}
.allMenu>ul>li{
    font-size: 30px;
    font-family: var(--title-ff);
    text-transform: uppercase;
   
}
.allMenu>ul>li>ul{
    display: flex;
    flex-direction: column;
    margin-top:40px;
}
.allMenu>ul>li>ul>li{
    font-family: var(--body-ff);
    font-weight: 300;
    font-size: 24px;
    opacity: .6;
    transition:.3s;
}
.allMenu>ul>li>ul>li:hover{
    opacity: 1;
}

/* ====================== footer ====================== */
footer{
    
    background-color: var(--primary-c);
    color:#fff;
    position:relative;
}

.footer_top,.footer_main,.footer_bottom ul{
    display: flex;
}
.brand_logo ul{
    display: flex;
    gap: 40px;
}

.footer_top{
    height: calc(var(--line-height)*3);
    justify-content: space-between;
    align-items: center;
    padding:auto 0;  
    
}
.footer_top::after{
    content:'';
    position:absolute;
    height: 1px;
    background-color:rgba(255,255,255,.5);
    top: calc(var(--line-height)*3);;
    left: 0;right: 0;
}
.brand_logo li:first-child img,.brand_logo li:nth-child(2) img{
    height: 30px;
}
.brand_logo li:nth-child(3) img,.brand_logo li:nth-child(4) img{
    height: 13px;
}
.footer_top .sns ul{
    display: flex;
    gap:20px;
}
.footer_main{
    justify-content: space-between;
}
.footer_left img{
    margin:var(--line-height) 0;
}
.footer_left .info{
    font-size: 14px;
    color:#fff;
}
.footer_right{
    display: flex;
    flex-direction: column;
    padding-top:calc(var(--line-height)*3)
}
.footer_right .link{
    display: flex;
    gap:30px;
    font-size: 16px;
    font-weight: 600;
}
.footer_right .link li{
    position:relative;
}
.footer_right .link li:nth-child(-n+4)::after{
    content: '';
    position:absolute;
    width: 2px;
    height: 16px;
    background-color: #fff;
    left: calc(100% + 15px);
    top:50%;
    transform: translateY(-50%);
}

.footer_right .contact{
    display: flex;
    width:450px;
    gap:30px;
    margin-top:var(--line-height);
}
.footer_bottom ul{  
    gap:50px;
    font-weight: 600;
    font-size: 16px;
    padding: var(--line-height) 0;
    border-top: 1px solid rgba(255,255,255,.5);
}

.top{
    position:fixed;
    bottom: 100px;
    right: 50px;
    display: inline-block;
    width: 40px;height: 40px;
    background:#fff;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    border:1px solid rgba(0,0,0,.1);
    border-radius: 50%;
    text-align: center;
    z-index: 1000;
}
.top .material-symbols-outlined{
    line-height: 35px;
    font-weight: 600;
}
