@import url(common.css);

body,html{
    height: 100%;
}
.s_02,.s_03{
    height: 100vh;
}
header.dark{
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
[data-effect^="animate__fadeIn"]{
    opacity: 0;
}
/* ====================== section1 ====================== */
.s_01{
    height:100vh;
    display: flex;
   padding-top:calc(var(--line-height)*4);
}
.left{
    height: 100%;
    width: 30%; 
    display: flex;
    flex-direction: column;  
}
.left .bg{
    height: 15% ;
}
.seoul .left .bg{
    background-color: var(--primary-c);
}
.jeju .left .bg{
    background-color: var(--secondary-c);
}
.lt{
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lt > .text_wrapper > h2{
    display: inline-block;
}
.text_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lt strong{
    font-size: 21px;
    font-weight: 200;
    line-height: 32px;
    text-transform: uppercase;
    font-family: var(--title-ff);
    margin-top: var(--line-height);
    display: inline-block;
}

.right{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.right .bg{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85%;
    position:relative;
}
.seoul .right .bg{
    background-image:url(../images/hotel_seoul_main.jpg);
}
.jeju .right .bg{
    background-image:url(../images/hotel_jeju_main.jpeg);
}
.right .bg:after{
    content:'';
    position:absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    background-color: var(--primary-c);
    opacity: .3;
}
.right .rb{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    position:relative;
}
.right .rb a{
    font-size: 21px;
    position:absolute;
    right: 50px;
}
.right .rb a::before{
    content: '';
    position: absolute;
    right: calc(100% + 50px);
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 300px;
    background-color: var(--primary-c);
}
.right .rb a:hover{
    font-weight: 500;
}
/* ====================== section2 ====================== */
.s_02 .img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:70vh;
    position:relative;
    z-index: 0;
    display: block;
}
.seoul .s_02 .img{
    background-image: url(../images/hotel_seoul_02.jpg);
}
.jeju .s_02 .img{
    background-image: url(../images/hotel_jeju_02.jpeg);
}
.s_02 .img:after{
    content:'';
    position:absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    background:rgba(0,0,0,.5);
    z-index: -1;
}
.s_02 h2{
    color:#fff;
    position:absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    width: 545px;
    text-align: center;
}
div.text{
    margin-top: 32px;
    display: flex;
    align-items: center;
}
.s_02 p{
    line-height: 32px;
    width: 915px;
}

/* ====================== section3 ====================== */
.s_03{
    position:relative;
    margin-bottom:calc(var(--line-height)*4);
    overflow: hidden;
}
.s_03 .bg{
    width:70%;
    height:600px;
    position:absolute;
    top: 0;
    right: 0;
}
.seoul .s_03 .bg{
    background: var(--primary-c);
}
.jeju .s_03 .bg{
    background: var(--secondary-c);
}
.s_03 .bg h2{
    color:#fff;
    margin-top:calc(var(--line-height)*4);
    margin-left: 147px;
}
.bx-wrapper{
    margin:0 auto 100px ;
    padding-top:200px;
}

.hotel_slide .content img{
    width: 400px;
    margin-left: 50px;
}
.hotel_slide .content h2{
    margin-left: 50px;
}
.hotel_slide .content{
    display: flex;
    position:relative;
}
.hotel_slide .content .dsc{
    position:absolute;
    top:calc(var(--line-height)*2);
    left: 500px;
    color:#fff;
}
.hotel_slide .content .dsc em{
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    margin-bottom:var(--line-height);
}
.hotel_slide .content .dsc p{
    font-weight: 400;
    padding-right: 20px;
}
.bx-controls{
    display: flex;
    flex-direction: row-reverse;
    gap:20px;
}

.bx-pager{
    display: flex;
}
.bx-pager-item{
    display: inline-block;
    line-height: 27px;
}
.bx-pager-item a{
    display: inline-block;
    height: 2px;
    width: 100px;
    background:var(--primary-c);
    opacity: .3;
    text-indent: -9999em;
    transition:.4s;
    margin-top:11px;
}
.bx-pager-item a.active{
    opacity: 1;
}
.bx-controls-direction a{
    width: 24px;
    height: 24px;
    background:no-repeat 0 0 /100% 100%;
    display: inline-block;
    text-indent: -999em;
    opacity: .5;
}
.bx-controls .bx-prev{
    background-image: url(../images/prev_black.svg);
}
.bx-controls .bx-next{
    background-image: url(../images/next_black.svg);
}
.s_03 .bx-viewport{
    overflow: visible !important;
}