@import url(common.css);


/* ==================== mainSlide ==================== */
.s_01_main{
    height: 100vh;
    position:relative;
}
.main_slide{
    overflow: hidden;
    position:absolute;
    right: 0;left: 0;top: 0;bottom: 0;
}
.slide_container{
    height: 100%;
    width: 100%;
    left: 0;
    transition: left 0.4s ease-out;
}
.main_slide li{
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-position: center top;
    background-size:cover;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 0;
}

.main_slide li:after{
    content: '';
    position:absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    background:rgba(0,0,0,0.3);
    z-index: -1;
}
.main_slide .content{
    color:#fff;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0,0,0,.5);
}
.main_slide .content h3{
    line-height: 54px;
    font-size: 30px;  
}

.main_slide h2{
    color:#fff;
}
.main_slide span{
    width: 296px;
    height: 35px;
    display: inline-block;
    background-image: url(../images/membersOnly.png);
    text-indent: -999em;
    margin: var(--line-height) 0;
}

.main_slide li.active{
    opacity: 1;
}
.main_slide .slide1{
    background-image: url(../images/MainSlide_01.jpg);
}
.main_slide .controls a{
    position:absolute;
    color:#fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 48px;
}
.controls .prev{
    margin-left: -600px;
}
.controls .next{
    margin-left: 600px;
}

.reservation{
    background-color: var(--secondary-bg);
    position:absolute;
    bottom: 0;
    left: 0;right: 0;
    z-index: 2;
}
.reservation .container{
    display: flex;
    justify-content: space-between;
    padding:var(--line-height) 0;
}
.reservation .container h2{
    font-size: 30px;   
}
.reservation .container ul{
    display: flex;
    gap:50px;
}
.reservation .container ul li a{
    font-size: 24px;
}

/* ==================== 02 MEET OUR HOTEL ==================== */
/*
.s_02_hotels .content{
    height: calc(var(--line-height)*29);
    margin-top:calc(var(--line-height)*5);
    background-image:url(../images/hotel_seoul.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hotel_list li{
    opacity: 0;
}
.hotel_list li.active{
    opacity: 1;
}
.s_02_hotels h2{
    color:#fff;
    padding:calc(var(--line-height)*3) 0;
}
*/

.tab_wrapper{
    height: calc(var(--line-height)*29);
    margin-top:calc(var(--line-height)*5);
    background-image:url(../images/hotel_seoul.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.s_02_hotels h2{
    color:#fff;
    padding:calc(var(--line-height)*3) 0;
}
.hover_menu{
    display: flex;
    justify-content: space-between;
    /* codepen */
    padding-left: 0;
    position:relative;
    z-index: 11;
    
}
/* codepen */
.hover_menu li a {
    display: block;
}
.hover_menu li a img{
    height: 54px;
    position:relative;
}
.hover_menu li{
    line-height: calc(var(--line-height)*3);
}
#hotel_content h3,p,span{
    color:#fff;
}
.hotelLogo{
    position:relative;
}
.highlight{
    position:absolute;
    width: 100px;
    height: 2px;
    left: 0;bottom: 0;
    background-color: #fff;
}
#hotel_content >div{
    display: none;
}
