/* ============================ 반응형 ============================ */

@media (max-width:1320px){
    .container {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .reservation .container {        
        padding: var(--line-height) 20px;
    }
    header nav{
        gap:30px;
    }
    header nav ul{
        gap:10px;
    }
    .con-pd{
        padding:calc(var(--line-height)*3) 10px;
    }
  
    .s_04_rewards .container:before{  
        right: 2%;
        left: 2%;
    }
    .s_05_newsLetter fieldset{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .s_05_newsLetter fieldset em{
        width: 100%;
    }
    .s_05_newsLetter .input_wrapper{
        width: 77%;
    }
    .s_05_newsLetter .input_wrapper .email_input{
        width: 80%;
    }
    .s_05_newsLetter .input_wrapper button{
        width: 17%;
        margin-left: 3%;
    }
    .s_05_newsLetter form{
        padding:100px 0;
        width: 100%;
    }
    .email_input input{
        min-width:45%;
        font-size: 18px;
    }

}/* 1320 이하 */


@media (max-width:768px){
    .main_tt, .s_02_hotels .main_tt{
        font-size: 36px;
    }
    .s_02_hotels .main_tt{
        text-align: center;
    }
    .menu_right li:last-child,
    .search_hotel,
    .language{
        display: none;
    }
    .menu ul{
        gap:20px;
    }
    .container{
        width: 100%;
        padding:0 15px;
    }
    header{
        padding:0 15px;
    }
    .reservation .container ul{
        gap:20px;
    }
    .reservation .container h2{
        font-size: 24px;
    }
    .reservation .container ul li a{
        font-size: 21px;
    }

    .tab_wrapper{
        display: none;
    }
    .accordion{
        display: block;
    }


    .s_04_rewards .container:before{  
        right: 5%;
        left: 5%;
    }
    .s_04_rewards .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .s_05_newsLetter .input_wrapper{
        width: 88%;
    }
    .s_05_newsLetter .input_wrapper .email_input{
        width: 100%;
    }
    .s_05_newsLetter .input_wrapper button{
        width: 100%;
        margin-left: 0;
    }
    .s_05_newsLetter .input{
        flex-direction: column;
        gap: 10px;
    }
    .footer_top .sns{
        display: none;
        
    }
    .sns_tablet{
        display: block;
        font-size: 25px;
    }
    .sns_tablet ul{
        display: flex;
        gap: 20px;
        justify-content: right;
    }

    .brand_logo ul{
        justify-content: space-between;
    }
    .footer_right{
        padding-top:calc(var(--line-height)*2);
    }
    .footer_right .link{
        display: none;
    }
    .footer_right .contact{
        flex-direction: column;
        gap:0;
        width: 230px;
    }
   
}/* 768 이하 */

@media (max-width:640px){
    h1{
        left: 15px;
        transform: translate(0,-50%);
    }
    .menu .menu_right{
        display: none;
    }
    .menu{
        flex-direction: row-reverse;
    }
    .reservation .container{
        position: relative;
    }
    .reservation .container h2{
        position: absolute;
        bottom: calc(100% - 3px);
        left: 50%;
        transform: translateX(-50%);
        background: var(--secondary-bg);
        z-index: 1000;
        font-size: 16px;
        line-height: 42px;
        font-weight: 500;
        letter-spacing: 2px;
        color:rgba(83,78,74,.5);
        width: 280px;
        text-align: center;
        border-radius: 3px;
    }
    .reservation .container ul{
        width: 100%;
        justify-content: space-between;
    }
    .reservation .container ul li a{
        font-size: 21px;
    }
    .reservation .container ul li:nth-child(2){
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .s_01_main .bx-pager{
        bottom: 150px;
    }
    .s_01_main .bx-controls-auto{
        display: none;
    }
    .s_04_rewards .content{
        align-items: flex-start;
        text-align: start;
        padding:0 50px;
    }
    .s_04_rewards .content >p{
        width: 422px;
        padding-bottom: var(--line-height);
    }
  
    .s_04_rewards .content ul{
        width: 100%;
        flex-direction: column;
        gap:0;
        margin-top:0;
    }
    .s_04_rewards .content ul li{
        display: block;
        padding:var(--line-height) 0;
    }
    .s_04_rewards .content ul li:nth-child(2){
        border-width: 1px;
        border-style: solid;
        border-color: var(--secondary-c) transparent var(--secondary-c) transparent;
    }
    .s_04_rewards h2{
        padding: calc(var(--line-height)*3) 0 calc(var(--line-height)*2) 0;
    }
    .s_04_rewards .content .view_more{
        margin:var(--line-height) 0 calc(var(--line-height)*3) 0;
    }
    .accordion_menu > li:first-child img,
    .accordion_menu > li:nth-child(2) img{
        height: 40px;
        margin: 27.5px 0;
    }
    .accordion_menu > li:nth-child(3) img,
    .accordion_menu > li:nth-child(4) img{
        height: 20px;
        margin: 37.5px 0;
    }
    .accordion_menu >li .add_icon:first-of-type{
        top: 42px;
    }
    .accordion_menu >li .add_icon:nth-of-type(2){
        top: 31px;
    }
    /* .accordion_wrapper{
        position:absolute;
        top: 50%;
        transform: translateY(-50%);
    } */

 
}/* 640 이하 */


@media (max-width:480px){

}/* 480 이하 */

@media (max-width:320px){

}/* 320 이하 */