/* ============================ 반응형 ============================ */

@media (max-width:1320px){
    .container {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .rsv_content .container{
        width: 95%;
        padding: 0 100px;
    }
    #dining_content>div{
        left: 9%;
    }
    .main_tt, .s_02_hotels h2{
        font-size:36px;
        
    }

    
    .s_01_main .bx-controls .bx-prev{
        margin-left: -400px;
    }
    .s_01_main .bx-controls .bx-next{
        margin-left: 400px;
    }
    .s_02_hotels h2 {
        padding: calc(var(--line-height)*2) 0;
    }
    .reservation > .container {        
        padding: var(--line-height) 20px;
    }
    header nav{
        gap:30px;
    }
    header nav ul{
        gap:10px;
    }
    .con-pd{
        padding:calc(var(--line-height)*3) 10px;
    }
    .tab_menu li a img{
        height: calc(54px * .8);
    }
  
    .s_04_rewards .container:before{  
        right: 2%;
        left: 2%;
    }
    .s_04_rewards h2{
        padding: 8% 0;
    }
    .s_04_rewards .container{
        padding:0 100px;
    }
    .s_04_rewards .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .s_04_rewards .content ul {
        gap: 30px;
    }
    .s_04_rewards .content .view_more{
        margin:8% 0;
    }
    .s_05_newsLetter fieldset{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .s_05_newsLetter fieldset em{
        width: 100%;
    }
    .s_05_newsLetter .input_wrapper{
        width: 77%;
    }
    .s_05_newsLetter .input_wrapper .email_input{
        width: 80%;
    }
    .s_05_newsLetter .input_wrapper button{
        width: 17%;
        margin-left: 3%;
    }
    .s_05_newsLetter form{
        padding:100px 0;
        width: 100%;
    }
    .email_input input{
        min-width:45%;
        font-size: 18px;
    }

    .lt strong{
        width: 140px;
    }
    .right .rb a::before{
        width: 20vw;
    }

}/* 1320 이하 */
@media (max-width:1200px) {
    .card{
        flex-wrap: wrap;
        width: 470px;
        margin:var(--form-line-height) 0;
    }
    .dsc{
        flex-direction:row;
        margin:10px 0;
        
    }
    .dsc li{
        display: inline-block;
    }
    .rsv_content .link_btn li{
        width: 280px;
    }
}
@media (max-width:940px){
    .allMenu .main_gnb>li{
        font-size: 24px;
    }
    .allMenu .main_gnb>li>ul>li{
        font-size: 18px;
    }

    .rsv_content .container{
      padding:0 20px;
    }
    #dining_content>div{
        gap: 30px;
        left: 20px;
    }
    #dining_content>div img{
        height: 250px;
    }
    #dining_content h4{
        font-size: 18px;
    }
    #dining_content p,
    .rsv_content .infomation ul{
        font-size: 14px;
    }

   
    .footer_top .sns{
        display: none;
        
    }
    .sns_tablet{
        display: block;
        font-size: 21px;
        margin-bottom: var(--line-height);
    }
      
    .sns_tablet ul{
        display: flex;
        justify-content: right;
        gap:20px;
    }
  
    .brand_logo{
        display: flex;
        justify-content: space-between;

    }
    .footer_right .link{
        display: none;
    }
    .footer_right{
        justify-content: flex-end;
    }
     
    .footer_right .contact{
        flex-direction: column;
        gap:0;
        width: 170px;
        margin-top:0;
    }
    /* --- SUB PAGE_hotel_seoul --- */
    .s_01 .lt h2{
        width: 130px;
    }
    .s_02 p{
        font-size: 16px;
        line-height: 32px;
    }
   
    .s_03{
        position:relative;
    }
    .s_03 .bg{
        width:80%;
        height:700px;
    }
    .s_03 .bg h2{
        margin-top:calc(var(--line-height)*5);
        margin-left: 100px;
    
    }
    .s_03 .bx-wrapper{
        margin:0 auto 100px ;
        padding-top:400px;
    }

    .hotel_slide .content img{
        width: 300px;
        margin-left: 0;
    }
    .hotel_slide .content h2{
        margin-left: 0;
    }
    .hotel_slide .content{
        display: flex;
        position:relative;
    }
    .hotel_slide .content .dsc{
        top:-50px;
        left: 330px;
    }

    .hotel_slide .content .dsc p{
        font-size: 16px;
    }
    .s_03 .bx-controls{
        display: flex;
        flex-direction: row-reverse;
        gap:20px;
        position: absolute;
        right: 20px;
        bottom: 32px;
    }


    .s_03 .bx-pager-item a{
        width: 70px;
    }
      /* --- SUB PAGE_login --- */
      #login_content form p.input{
        width: 600px;
    }
   
   

}/* 940 이하 */

@media (max-width:768px){
    :root {
        --body-fz:16px;
        --title-fz:36px;
        --line-height:24px; 
    }
    .menu{
        height: calc(var(--line-height)*3);
    }
    .allMenu.open{
        top:calc(var(--line-height)*3);
    }
    /* -- */
    .allMenu{
        height: calc(100vh  - (var(--line-height)*3));
    }
    .allMenu::after{
        content: '';
        position: absolute;
        width: 1px;
        height: 320px;
        background-color: rgba(255,255,255,.5);
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
    }
    .allMenu .menu_top,
    .allMenu .menu_bottom{
        display: flex;
    }
    .allMenu .menu_top .menu_mobile{
        display: none;
    }
    .allMenu .menu_top .menu_tablet,
    .allMenu .menu_bottom{
        font-size: 18px;
        padding:var(--line-height) 50px;
        justify-content: space-between;
    }
    .allMenu .menu_top .menu_tablet{
        border-bottom: 1px solid rgba(255,255,255,.5);
        width: 100%;
    }
    .allMenu .menu_bottom{
        background-color: var(--secondary-bg);
        position: absolute;
        left: 0;right: 0;
        bottom: 0;
        color:var(--primary-c);
     }
     .allMenu .menu_bottom li:nth-child(2){
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
     }
    

    .allMenu .main_gnb{
        flex-direction: column;
        gap: 50px;
        position:absolute;
        margin-top:0;
        width: 50vw;
       text-align: center;
       top: 50%;
       transform: translateY(-50%);

     }
     .allMenu .main_gnb>li>ul{
        position: absolute;
        top: 0;
        left: 50vw;
        margin-top:0;
        display: none;
     }
     .allMenu .main_gnb>li>ul>li{
        font-size: 24px;
        width: 50vw;
        text-align: center;
     }
     .allMenu .main_gnb>li{
        opacity: .6;
     }
     .allMenu .main_gnb>li.active{
        opacity: 1;
     }
     .allMenu .main_gnb>li.active ul{
        display: flex;
        flex-direction: column;
        gap: 50px;
     }
   
     /* -- */
    .logo a.big,.dark .logo a.big{
        display: none;
    }
    .logo a.small,.dark .logo a.small{
        display: block;
    }
    header.small .logo a {
        background-image:url('../images/logo\ _small.svg');
        width: 146px;
        height: 35px;
    }
    header.small_dark .logo a {
        background-image:url('../images/logo_dark\ 1.svg');
        width: 146px;
        height: 35px;
    }
    .main_slide div h2{
        width: 600px;
    }
      
    .s_01_main .bx-controls-direction a{
        width: 50px;
        height: 50px;
    }
    
    .s_01_main .bx-controls .bx-prev{
        margin-left: -300px;
    }
    .s_01_main .bx-controls .bx-next{
        margin-left: 300px;
    }
    .main_tt, .s_02_hotels .main_tt{
        font-size: 36px;
    }
    .main_slide .content h3{
        font-size: 24px;  
    }
    .s_02_hotels .main_tt{
        text-align: center;
        font-weight: 300;
    }
    .menu_right li:last-child,
    .search_hotel,
    .language{
        display: none;
    }
    .menu >ul{
        gap:20px;
    }
    .container{
        width: 100%;
        padding:0 15px;
    }
    header{
        padding:0 15px;
    }
    .reservation >.container ul{
        gap:20px;
    }
    .reservation >.container h2{
        font-size: 24px;
    }
    .reservation >.container ul li a{
        font-size: 21px;
    }
    .rsv_content .form_content{
        height: 80vh;
        bottom:  96px;
    }
    
    .rsv_content .form_content.up{
        bottom: 96px;
    }
    .roomNguest{
        padding:10px 30px;
    }
    .roomNguest .r_option{
      flex-direction: column;
      gap: 0;
    }
    .roomNguest .r_option>li{
        line-height: 22px;
    }
    #dining_content>div{
        gap: 30px;
        left: 20px;
    }
    #dining_content>div img{
        height: 210px;
    }

    .tab_wrapper{
        display: none;
    }
 
    .accordion{
        display: block;
        height: calc(100vh - (var(--line-height)*3));
        margin-top: calc(var(--line-height)*3);
    }
    .s_04_rewards h2{
        padding: 15% 0;
    }
    .s_04_rewards .container{
        padding:0 100px;
         margin-top:30px;
    
    }
    .s_04_rewards .container:before{  
        right: 5%;
        left: 5%;
    }
    .s_04_rewards .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .s_04_rewards .content ul {
        gap: 15px;
    }

    .s_04_rewards .content .view_more{
        margin:15% 0;
    }
    .s_05_newsLetter .input_wrapper{
        width: 88%;
    }
    .s_05_newsLetter .input_wrapper .email_input{
        width: 100%;
    }
    .s_05_newsLetter .input_wrapper button{
        width: 100%;
        margin-left: 0;
    }
    .s_05_newsLetter .input{
        flex-direction: column;
        gap: 10px;
    }
  
    .brand_logo li:first-child img,.brand_logo li:nth-child(2) img{
        height: calc(30px * .8);
    }
    .brand_logo li:nth-child(3) img,.brand_logo li:nth-child(4) img{
        height: calc(15px * .8);
    }
    .footer_top{
        justify-content: center;
    }
    .footer_bottom ul{  
        justify-content: space-between;
        font-weight: 500;
        font-size: 14px;
        padding: 20px 0;
        border-top: 1px solid rgba(255,255,255,.5);
        text-align: center;
    }
    /* --- SUB PAGE_hotel_seoul --- */
    .s_01{
        padding-top:calc(var(--line-height)*3);
    }
    .right{
        width: 60%;
    }
    .left{
        width: 40%;
    }
    .right .rb a::before{
        display: none;
    }
      /* --- SUB PAGE_login --- */
    #login_content form p.input{
        width: 450px;
    }
   
}/* 768 이하 */

@media (max-width:640px){
    :root {
        --body-fz:14px;
    }
    
    body{
        font-size: 14px;
        line-height: 21px;
    }
    h1{
        left: 15px;
        transform: translate(0,-50%);
    }
    .menu .menu_right{
        display: none;
    }
    .menu{
        flex-direction: row-reverse;
    }
    .allMenu .menu_top{
        flex-direction: column;
    }
    .allMenu .menu_top .menu_mobile{
        display: flex;
        padding:var(--line-height) 0;
        justify-content: center;
        gap:0;
    }
    .allMenu .menu_top .menu_mobile li{
        line-height: 30px;
        width: 100px;
        text-align: center;
        position: relative;
        font-weight: 600;
    }
    .allMenu .menu_top .menu_mobile li a::after,
    .allMenu .menu_top .menu_mobile li:first-child a::before{
        content: '';
        position:absolute;
        width: 1.5px;
        height: 20px;
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
    .allMenu .menu_top .menu_mobile li:first-child a::before{
        left: 0;
    }
    .allMenu .main_gnb>li>ul>li{
        font-size: 21px;
    }
    .allMenu .menu_top .menu_tablet,
    .allMenu .menu_bottom{
        font-size: 16px;
    }
    .s_01_main .bx-controls-direction a{
      display: none;
    }
    .main_slide div h2{
       font-size: 30px;
       line-height: 40px;
       width: 500px;
    }
    .main_slide div img{
        height: 30px;
    }
    .reservation >.container{
        position: relative;
        padding:15px 30px;
    }
  
    .reservation >.container h2{
        position: absolute;
        bottom: calc(100% - 3px);
        left: 50%;
        transform: translateX(-50%);
        background: var(--secondary-bg);
        z-index: 1000;
        font-size: 16px;
        line-height: 40px;
        font-weight: 500;
        letter-spacing: 2px;
        color:rgba(83,78,74,.5);
        width: 250px;
        text-align: center;
        border-radius: 3px;
    }
    .reservation >.container ul{
        width: 100%;
        justify-content: space-between;
    }
    .reservation .container ul li a{
        font-size: 21px;
    }
    .reservation .container ul li:nth-child(2){
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
    }
  
 
    .s_01_main .bx-pager{
        bottom: 130px;
    }
    .s_01_main .bx-pager-item a{
        width: 83px;
    }
    .s_01_main .bx-controls-auto{
        display: none;
    }
    .s_02_hotels .main_tt{
        text-align: left;
        padding-left: 15px;
    }
  
    .accordion h2{
        padding: 7% 0;
    }
    .multiple_slide .caption h3{
        font-size: 21px;
    }
    .multiple_slide .caption span{
        font-size: 14px;
    }
    .multiple_slide .caption span.hotel{
        font-size: 12px;
        width: 120px;
        line-height: 24px;
    }
    .s_04_rewards .container{
        padding:0 10%;
        margin-top:50px;
    }
    .s_04_rewards .content{
        align-items: flex-start;
        text-align: start;
    }
    .s_04_rewards .content >p{
        width: 400px;
        padding-bottom: var(--line-height);
    }
  
    .s_04_rewards .content ul{
        width: 100%;
        flex-direction: column;
        gap:0;
        margin-top:0;
    }
    .s_04_rewards .content ul li{
        display: block;
        padding:var(--line-height) 0;
    }
    .s_04_rewards .content ul li:nth-child(2){
        border-width: 1px;
        border-style: solid;
        border-color: var(--secondary-c) transparent var(--secondary-c) transparent;
    }
    .s_04_rewards h2{
        padding: 15% 0;
    }
    .s_04_rewards .content .view_more{
        margin:var(--line-height) 0 calc(var(--line-height)*3) 0;
    }
    .email_input input{
        font-size: 14px;
    }
    .s_05_newsLetter fieldset button{
        font-size: 18px;
    }
    .input_wrapper p{
        font-size: 14px;
    }
    .footer_right .contact{
        display: none;
    }
    .footer_main{
        align-items: flex-start;
    }
    .logo_long{
        display: none;
    }
    .logo_short{
        display: block;
    
    }
    .logo_short a{
        display: inline-block;
    }
    .logo_short .mono img{
        height: 23px;
    }
    .logo_short .stay img{
        height: 10px;
    }
/* --- SUB PAGE_hotel_seoul --- */
    .s_01 .main_tt,.s_02 .main_tt,.s_03 .main_tt{
        font-size: 30px;
    }
    .s_01 > .text_wrapper > .lt > h2{
        width: 110px;
    }
    .s_03 .main_tt{
        width: 250px;
        line-height: 40px;
    }
    .lt strong{
        font-size: 16px;
    }
    .right .rb a{
        font-size: 18px;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
    }

    .s_02 p{
        font-size: 14px;
        line-height: 27px;
        width: 540px;
    }
    .s_03 {
        margin-bottom:0;
        height: auto;
    }
    .s_03 .bg{
        height: 650px;
    }
  
    .s_03 .bg h2{
        margin-top:calc(var(--line-height)*2);
        margin-left: 50px;   
    }
    .s_03 .bx-wrapper{
        margin:0 auto 100px ;
        padding-top:400px;
        position:relative;
    }

    .hotel_slide .content img{
        width: 250px;
    }

    .hotel_slide .content .dsc{
        top:-200px;
        left: 150px;
    }

    .hotel_slide .content .dsc p{
        font-size: 14px;
    }
    .s_03 .bx-controls{
        gap:20px;
        right: 20px;
        bottom: 50px;
        z-index:5;
    }
    .rb a{
        white-space: nowrap;
    }

    .s_03 .bx-pager-item{
        line-height: 27px;
    }
    .s_03 .bx-pager-item a{
        width: 50px;
        background-color:#fff;
        height: 3px;
    }

    .s_03 .bx-controls-direction{
       display: none;
    }
    .login>h2,.login>p{
        text-align: center;
    }
    .login em,.login>p{
        font-size: 16px;
    }
    #member >p{
        font-size: 14px;
    }
    .find , .join{
        font-size: 14px;
    }
    .find{
        gap: 10px;
    }
    .join{
        flex-direction: column;
        text-align: center;
    }

 
}/* 640 이하 */


@media (max-width:480px){

}/* 480 이하 */

@media (max-width:375px){

}/* 320 이하 */